.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.myModalContent {
  padding: 25px;
  background: white;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
